body{
    font-family: 'Poppins', sans-serif;
    background-color: #f6f9fd !important;
}

.custom-font-color{
    color: #555555;
}

.navbar-vertical{
    box-shadow: none !important;
    border: 1px solid #D9D9D9;
}