/** @format */

.BtmNav {
    z-index: -1;

    &__Logo{
        margin-bottom: -1.5rem;
        margin-left: 1rem;
    }

    &__Text{
        margin-bottom: -4.5rem;
        margin-left: -2rem;
    }
}


nav.navbar.fixed-bottom.BtmNav {
    padding: 0;
}

