/** @format */

// .fix-bg {
//     background: no-repeat center center fixed;
//     background-size: cover;
//     width: 100%;
//     height: 100%;
//     position: fixed;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
// }

#app-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
}

.full-height {
    min-height: 60vh;
}

// .MuiInputBase-input {
//     color: #fff !important;
// }
// .MuiSvgIcon-root {
//     color: #fff !important;
// }

// .MuiTypography-caption {
//     color: #fff !important;
// }

// .MuiPaper-root {
//     background-color: #151a30 !important;
//     color: #fff !important;
// }

// MuiPaper-root MuiPaper-elevation2 MuiPaper-rounded
// .MuiToolbar-root .MuiToolbar-regular .MTableToolbar-root-59 .MuiToolbar-gutters {
//     color: #fff !important;
// }
// .MuiToolbar-regular {
//     background-color: #151a30;
// }

// .MuiTablePagination-toolbar {
//     background-color: #151a30;
// }
//.Component-paginationToolbar-56 .MuiToolbar-gutters

// ><div class="MuiTablePagination-spacer"></div><p class="MuiTypography-root MuiTablePagination-caption Component-paginationCaption-57 MuiTypography-body2 MuiTypography-colorInherit" id="mui-77003">Rows per page:</p><div class="MuiInputBase-root MuiTablePagination-input MuiTablePagination-selectRoot Component-paginationSelectRoot-58"><div class="MuiSelect-root MuiSelect-select MuiTablePagination-select MuiSelect-selectMenu MuiInputBase-input" tabindex="0" role="button" aria-haspopup="listbox" aria-labelledby="mui-77003 mui-10499" id="mui-10499"><div style="padding: 0px 5px;">5 rows </div></div><input aria-hidden="true" tabindex="-1" class="MuiSelect-nativeInput" value="5"><svg class="MuiSvgIcon-root MuiSelect-icon MuiTablePagination-selectIcon" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M7 10l5 5 5-5z"></path></svg></div><p class="MuiTypography-root MuiTablePagination-caption Component-paginationCaption-57 MuiTypography-body2 MuiTypography-colorInherit">1-5 of 8</p><div class="MTablePaginationInner-root-72"><span title="First Page" class=""><button class="MuiButtonBase-root MuiIconButton-root Mui-disabled Mui-disabled" tabindex="-1" type="button" disabled=""><span class="MuiIconButton-label"><svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M18.41 16.59L13.82 12l4.59-4.59L17 6l-6 6 6 6zM6 6h2v12H6z"></path></svg></span></button></span><span title="Previous Page" class=""><button class="MuiButtonBase-root MuiIconButton-root Mui-disabled Mui-disabled" tabindex="-1" type="button" disabled=""><span class="MuiIconButton-label"><svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path></svg></span></button></span><span class="MuiTypography-root MuiTypography-caption" style="flex-grow: 1; flex-shrink: 1; flex-basis: inherit; text-align: center; align-self: center;">1-5 of 8</span><span title="Next Page" class=""><button class="MuiButtonBase-root MuiIconButton-root" tabindex="0" type="button"><span class="MuiIconButton-label"><svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path></svg></span><span class="MuiTouchRipple-root"></span></button></span><span title="Last Page" class=""><button class="MuiButtonBase-root MuiIconButton-root" tabindex="0" type="button"><span class="MuiIconButton-label"><svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M5.59 7.41L10.18 12l-4.59 4.59L7 18l6-6-6-6zM16 6h2v12h-2z"></path></svg></span><span class="MuiTouchRipple-root"></span></button></span></div></class=>
// .MuiToolbar-root .MuiToolbar-regular .MuiTablePagination-toolbar .Component-paginationToolbar-56 {
//     background-color: blue;
//     width: 100%;
//     padding: 0;
//     /* margin: auto; */
//     padding-right: 25rem;
// }
.ondisable:disabled {
    cursor: not-allowed;
}

.bg-black{
    background-color: rgb(28 36 52 / var(--tw-bg-opacity));
}

.text-bodydark2 {
    --tw-text-opacity: 1;
    color: rgb(138 153 175 / var(--tw-text-opacity));
    font-size: 16px;
}

.text-bodydark1 {
    --tw-text-opacity: 1;
    color: rgb(222 228 238 / var(--tw-text-opacity));
    font-size: 18px;
}

.text-bodydark2:hover {
    --tw-text-opacity: 1;
    color: #8A99AF;
}

.text-bodydark1:hover {
    --tw-text-opacity: 1;
    color: #8A99AF;
    font-size: 18px;
}

.ease-in-out {
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.font-medium {
    font-weight: 500;
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.rounded-sm {
    border-radius: 0.125rem;
}
.gap-2\.5 {
    gap: 0.625rem;
}
.items-center {
    align-items: center;
}

@media (min-width: 1024px) {

    .lg\:py-6\.5 {
        padding-top: 1.625rem;
        padding-bottom: 1.625rem;
    }
}
