/* src/DragAndDropUpload.css */
.upload-container {
    border: 2px dashed #cccccc;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: border 0.3s ease;
  }
  
  .upload-container:hover {
    border-color: #777777;
  }
  
  .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .drag-text {
    margin-bottom: 10px;
    font-size: 16px;
    color: #666666;
  }
  
  .upload-icon {
    font-size: 48px;
    color: #999999;
  }
  
  .custom-button-settings{
    background-color: #051E5C;
    color: #fff;
    box-shadow: 0 .5rem 1rem #051e5c!important;
    border: none;
    width:10rem ;
}

.custom-button-settings:hover{
    background-color: #072470;
    color: #fff;
}
#accessToken:focus{
    border: 2px solid blue;
} 
.button-container {
  display: flex;
  justify-content: center; /* Horizontally center the button */
  align-items: center;    /* Vertically center the button */
  height: 5rem;          /* Full viewport height to demonstrate vertical centering */
}

.custom-card{
  padding: 1% !important;
}