.custom-border-red {
    border-left: 3px solid #f5365c;
}

.custom-border-orange {
    border-left: 3px solid #fb6340;
}

.custom-border-yellow {
    border-left: 3px solid #ffd600;
}

.custom-border-blue {
    border-left: 3px solid #051E5C;
}

.blue-color-icon{
    color: #051E5C;
}

.bg-blue{
    background-color: #B2B8EE !important;
}

.icon-box {
  width: 36px;         /* consistent width */
  height: 36px;        /* consistent height */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);  /* soft shadow */
  font-size: 16px;     /* icon size */
}