.createuser-btn{
    display: flex;
    justify-content: end;
}
.edit-icon{
    color: rgb(230, 151, 4);
}

.delet-icon{
    color: rgb(228, 1, 1);
}

.table-style{
    margin-bottom: 40px;
    border-bottom: 2px solid #5e72e4;
}

