/* styles.css */

.multistep-form-container {
    text-align: center;
}

.pms-option {
    background-color: #fff;
    border: 1px solid #dee2e6;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pms-option:hover {
    background-color: #e9ecef;
}

.header-body {
    padding: 1%;
    border-radius: 10px;
}


h3 {
    margin-bottom: 20px;
}

.custom-button-settings{
    background-color: #051E5C;
    color: #fff;
    // box-shadow: 0 .5rem 1rem #051e5c!important;
    border: none;
    width:10rem ;
}

.custom-button-settings:hover{
    background-color: #072470;
    color: #fff;
}
#accessToken:focus{
    border: 2px solid blue;
} 