
.highlight {
    color: #007bff;
    /* Bootstrap primary color */
}

.profile-img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
}
@media (max-width: 450px) {
    
.profile-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
      #h1{
        color:#10275B;
        font-size:36px!important;
      }
      #h2{
        color:#10275B;
        font-size:25px!important;
      }
      .i_m{
        width:100%!important;
        height:100%!important;
      }
    h2{
        font-size:25px!important;
    }

        .img-top {
            order: -1 !important;
            padding:0px !important;
        }
        
    }
    .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 5px;
         
            background-color: #f6f7ff;
        }
        h1, h2 {
            color:#10275B;
            /* color: #514f61; */
        }
        h1 {
            font-size: 2.5em;
        }
        h2 {
            font-size: 25px;
            margin-top: 0px;
        }
        p {
            font-size: 18px;
            color:#10275B;
            text-align:justify;
            padding:15px;
        }
        .section {
            margin-bottom: 0px;
            background-color: #f6f7ff;
        }
/* .vh-100 {
      height: 100vh;
    } */
     .section p{
        font-weight: 400;
     }
