.btn-darkblue {
  background-color: #184394; /* Dark blue color */
  color: white; /* White text color */
  border: none; /* Remove border */
  padding: 10px 10px; /* Padding for the button */
  font-size: 16px; /* Font size */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Box shadow */
  transition: transform 0.1s ease-in-out; /* Transition for the hover effect */
}

.btn-darkblue:hover {
  transform: translateY(-2px); /* Slight lift on hover */
  background-color: #1f4ea5;
  color: white;
  border: none;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
}

.urgent-tag-card:hover{
    transform: translateY(-2px); /* Slight lift on hover */
    background-color: white;
    border: none;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.modal-body {
  margin-top: -25px;
}

.urgent-tag-card-icone{
  color: rgb(251 191 36 )
}

.urgent-tag-card{
  border-width: 2px;
  border-radius: .5rem;
   width: 100%;
}

.no-data-message{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.automated-response-btn{
  margin-left: auto;
}

 @media (max-width: 576px) {
  .urgent-tag-card {
    margin: 0 auto; /* Center cards on small screens */
  }
}

@media (min-width: 1550px) {
  .urgent-tag-card {
    width: 18rem; /* Set a fixed width for medium and larger screens */
  }
}